[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
pymysql = "*"
cryptography = "*"
marshmallow = "*"
flask-cors = "*"

[dev-packages]
behave = "*"

[requires]
python_version = "3.12"
